@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e5e5e5;
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.input_wrap {
  flex: 1 1 8rem;
}

.button_wrap {
  flex: 1 0 4rem;
}

/* grid card auto fill */
.grid-card-auto-fill {
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  place-items: center;
  width: auto;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
